.head1 {
    position: relative;
    left: 650px;
    top: 150px;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    font-size: 56px;
    color: white;
}

.head2 {
    position: relative;
    left: 450px;
    top: 150px;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    font-size: 26px;
    color: white;
}

.head3 {
    position: relative;
    left: 500px;
    top: 140px;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    font-size: 26px;
    color: white;
}

.demoButton {
    position: relative;
    top:250px;
    left: 760px;
    height: 70px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    background-color: white;
    border: none;
    border-radius: 3px;
    padding: 0 20px;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
}

.footerContainer {
    background-color: red;
}

.background {
    background-color: transparent;
    height: 110vh;

}

.footer {
    background-color: white;
    position: relative;
    top: 1090px;
    height: 80px;
}

.githubLogo {
    position: relative;
    left: 1000px;
}

.linkedinLogo {
    position: relative;
    left: 1200px;
}

.gitLink {
    color: black;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    left: 1000px;
    bottom: 10px;

}

.linkedLink {
    color: black;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    left: 1200px;
    bottom: 10px;
}

.footerTitle {
    position: relative;
    top: 60px;
}
