.navBar {
    background-color: rgba(0,0,0,.25);
    width: 100vw;
    height: 8vh;
    margin: none;
    padding: none;
    position: relative;
    bottom: 8px;
    right: 8px;
    z-index: 1000
}

.uploadLink {
    color: white;
    text-decoration: none;
    position: relative;
    left: 200px;
    top: 25px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;

}

.photoLink {
    color: white;
    text-decoration: none;
    position: relative;
    left: 230px;
    top: 25px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
}
