.deleteButton1 {
    height: 50px;
    position: relative;
    bottom: 985px;
    left: 243px;
    width: 52px;
    text-align: center;

}

.tileContainer {
    max-width: 70%;
    max-height: 100vh;
    position: relative;
    bottom: 400px;
    left: 50px;
}

.pageContainer {
    max-height: 100vh;
    overflow-y: auto;
}
