.uploadBackground {
    height: 100vh;
}

.uploadContainer {
    background-color: white;
    width: 30vw;
    height: 35vh;
    position: relative;
    left: 870px;
    top: 300px;
    border-radius: 25px;
}

.header1, .header2{
    text-align: center;
    padding: 15px;
    font-family: Proxima Nova,Helvetica,sans-serif;
}

.imageUrlInput {
    display: block;
    border-radius: .25rem;
    border: 1px solid black;
    height: 40px;
    width: 360px;
    margin: 10px;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 12px;
    font-family: Proxima Nova,Helvetica,sans-serif;
    position: relative;
    left: 170px;
    top: 30px;
}

.uploadButton {
    width: 304px;
    height: 40px;
    position: relative;
    background-color: #128fdc;
    border: none;
    color: white;
    font-family: Proxima Nova,Helvetica,sans-serif;
    border-radius: .25rem;
    margin-top: 15px;
    position: relative;
    left: 214px;
    top: 30px;

}
