.albumListContainer {
    display: block;
    background-color: #f3f5f6;
    width: 12vw;
    height: 100vh;
    position: relative;
    left: 10px;
    border-radius: 2px;
}

.albumInput {
    display: inline-flex;
    border-radius: .25rem;
    border: 1px solid #898989;
    height: 40px;
    width: 160px;
    margin: 10px;
    padding-left: 10px;
    font-size: 20px;
    font-family: Proxima Nova,Helvetica,sans-serif;
    margin-bottom: 12px;
}

.addAlbumButton {
    height: 30px;
    width: 30px;
    position: relative;
    right: 3px;
}

.albums {
    padding-bottom: 20px;

}

.uploadAlbumError {
    position: absolute;
    top: 50px;
    color: red;
    font-family: Proxima Nova,Helvetica,sans-serif;
}
