.album {
    font-family: Proxima Nova,Helvetica,sans-serif;
    font-size: 20px;
    padding-bottom: 50px;
    position: relative;
    top: 26px;
}

.deleteAlbumButton {
    height: 30px;
    position: absolute;
    display: block;
    left: 225px;
    text-align: center;
    align-content: center;

}

.indivdiualAlbumContainer {
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}
