.puprLink {
    position: relative;
    left: 40px;
    bottom: 76px;
    text-decoration: none;
    color: white;
    font-size: 25px;

}

.userButton {
    position: relative;
    left: 1200px;
    bottom: 110px;
}

.signup {
    position: relative;
    bottom: 80px;
    left: 1520px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
}
