.puprLink {
    position: relative;
    left: 40px;
    bottom: 69px;
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;

}

.userButton {
    position: relative;
    left: 2300px;
    bottom: 75px;
    height: 40px;
    width: 40px;
}

.signup {
    position: relative;
    bottom: 72px;
    left: 2080px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
}

.infoContainer {
    background-color: rgba(207, 207, 207, 0.25);
    position: absolute;
    left: 2296px;
    top: 59px;
    color: white;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    border-radius: .25rem;
    width: 160px;
}

.profile-dropdown {
    margin: 20px;
    padding: 10px;
}

.infoList {
    position: relative;
    left: 10px;
}
